﻿@model IEnumerable<subtoole.Models.AspNetRole>

@{
    ViewBag.Title = "Rollide nimekiri.";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Administraator"))
{
<p>
    @Html.ActionLink("Loo uus roll", "Create")
</p>
}
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Andmed", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
