﻿@model IEnumerable<subtoole.Models.Person>

@{
    ViewBag.Title = "Maasikate nimekiri.";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Administraator"))
{
<p>
    @Html.ActionLink("Lisa uus maasikas", "Create")
</p>
}

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BirtDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IK)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            @*<th scope="col">
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Education)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Profession)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Languages)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CV)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.File.Filename)
                </th>*@
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirtDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Education)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profession)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Languages)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.File.Filename)
                    </td>*@
                <td>
                    @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Andmed", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

