﻿@model subtoole.Models.Application

@{
    ViewBag.Title = "Kandideeri.";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Vasta veel mõnele küsimusele ja saada ankeet teele</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Hidden("PersonId")

    <div class="form-group">
        @Html.LabelFor(model => model.CompanyId, "Millises Subways tahad töötada?", htmlAttributes: new { @class = "control-label col" })
        <div class="col-md-10">
            @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Created, "Avalduse esitamise kuupäev:", htmlAttributes: new { @class = "control-label col" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.ValidFrom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ValidFrom, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.ValidFrom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ValidThru, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ValidThru, new { htmlAttributes = new { @class = "form-control datepicker" } })
            @Html.ValidationMessageFor(model => model.ValidThru, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="btn-group-toggle col" data-toggle="buttons">
            <label class="btn btn-primary">
                <input required type="radio" name="State" value="0">&nbsp;Aktiivne
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="State" value="1">&nbsp;Mitteaktiivne
            </label>
        </div>
    </div>
        <div class="form-group">
        @Html.LabelFor(model => model.PrefTime, "Soovid töötada hommikul või õhtul?", htmlAttributes: new { @class = "control-label col" })
        @*<div class="radiocontainer1">*@
        <div class="btn-group-toggle col" data-toggle="buttons">
            <label class="btn btn-primary">
                <input required type="radio" name="PrefTime" value="Hommik">&nbsp;Hommik &nbsp;
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="PrefTime" value="Kõik">&nbsp;Sobib kõik &nbsp;
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="PrefTime" value="Õhtu">&nbsp;Õhtu
            </label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Load, htmlAttributes: new { @class = "control-label col-md-2" })
        @*<div class="col-md-10">*@
        <div class="form-control-range col-md-2">
            <input type="range" min="25" max="100" value="100" class="slider" name="Load" id="Load" step="25" oninput="Load_disp.value = Load.value"> &nbsp; <output id="Load_disp">100</output> <b>%</b>
            @*@Html.EditorFor(model => model.Load, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Load, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input required type="checkbox" name="n6usnupp" value="n6us tingimustega" class="btn btn-default" />
            <b> &nbsp; Nõustun privaatsustingimustega.</b>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="salvestaandmed" value="Salvesta ja saada andmed" class="btn btn-primary btn-block" /> 
        </div>
    </div>
</div>
}

        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Tagasi nimekirja", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
