﻿@model subtoole.Models.Application

@{
    ViewBag.Title = "Kandidaadi kustutamine.";
}

@if (User.IsInRole("Administraator"))
{
    <h2>@ViewBag.Title</h2>
}
else if (User.IsInRole("Frantsiis"))
{
    <h2>@ViewBag.Title</h2>
}
else
{
    <h2>Kas soovid tõesti enda kandideerimise kustutada?</h2>
}

<h3></h3>
<div>
    <h4></h4>
    <hr />
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValidFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ValidFrom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ValidThru)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ValidThru)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrefTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrefTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Load)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Load)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Person.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Company.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Company.Name)
            </dd>

        </dl>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Jah, kustuta" class="btn btn-primary" />
            @Html.ActionLink("Ei, tagasi nimekirja", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
