﻿@model subtoole.Models.Application

@{
    ViewBag.Title = "Kandidaadi andmed.";
}
<h2>@ViewBag.Title</h2>
<style>
    {
        box-sizing: border-box;
    }

    .row {
        display: flex;
    }

    .column-vasak {
        flex: 50%;
        padding: 10px;
    }
    .column-parem {
        flex: 50%;
        padding: 10px;
    }
</style>
<div class="row">
    <div class="column-vasak">
        <table class="table table-bordered">
            <tbody>
                <h3>Isikuandmed:</h3>
                <tr class="thead-dark">
                    <th style="width:200px">Ees- ja perekonnanimi:</th>
                    <td>@Html.DisplayFor(model => model.Person.FirstName)&nbsp;@Html.DisplayFor(model => model.Person.LastName)</td>
                </tr>
                <tr class="thead-dark">
                    <th>Sünniaeg:</th>
                    <td>@Html.DisplayFor(model => model.Person.BirtDate)</td>
                </tr>
                <tr class="thead-dark">
                    <th>Isikukood:</th>
                    <td>@Html.DisplayFor(model => model.Person.IK)</td>
                </tr>
                <tr class="thead-dark">
                    <th>Sugu:</th>
                    <td>@Html.DisplayFor(model => model.Person.Gender)</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
                <h3>Kontaktandmed:</h3>
                <tr class="thead-dark">
                    <th style="width:200px">Telefon:</th>
                    <td>@Html.DisplayFor(model => model.Person.Phone)</td>
                </tr>
                <tr class="thead-dark">
                    <th>E-Post:</th>
                    <td>@Html.DisplayFor(model => model.Person.Email)</td>
                </tr>
                <tr class="thead-dark">
                    <th>Aadress:</th>
                    <td>@Html.DisplayFor(model => model.Person.Address)</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
                <h3>Taustainfo:</h3>
                <tr class="thead-dark">
                    <th style="width:200px">Haridus:</th>
                    <td>@Html.DisplayFor(model => model.Person.Education)</td>
                </tr>
                <tr class="thead-dark">
                    <th>Elukutse:</th>
                    <td>@Html.DisplayFor(model => model.Person.Profession)</td>
                </tr>
                <tr class="thead-dark">
                    <th>Keelteoskus:</th>
                    <td>@Html.DisplayFor(model => model.Person.Languages)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="column-parem">
        <table class="table table-bordered">
            <tbody>
                <h3>Pilt ja CV:</h3>
                <tr class="thead-dark">
                    <th style="width:200px">Pilt:</th>
                    <td>@Html.DisplayFor(model => model.Person.PictureId)</td>
                </tr>
                <tr class="thead-dark">
                    <th>Lisa CV:</th>
                    <td>@Html.DisplayFor(model => model.Person.CV)</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
                <h3>Kandidaadi eelistused:</h3>
                <tr class="thead-dark">
                    <th style="width:200px">Resto:</th>
                    <td>@Html.DisplayFor(model => model.Company.Name)</td>
                </tr>
                <tr class="thead-dark">
                    <th>Graafik:</th>
                    <td>@Html.DisplayFor(model => model.PrefTime)</td>
                </tr>
                <tr class="thead-dark">
                    <th>Koormus:</th>
                    <td>@Html.DisplayFor(model => model.Load)</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
                <h3>Ankeedi andmed:</h3>
                <tr class="thead-dark">
                    <th style="width:200px">Ankeedi täitmise aeg:</th>
                    <td>@Html.DisplayFor(model => model.Created)</td>
                </tr>
                <tr class="thead-dark">
                    <th>Kehtiv alates:</th>
                    <td>@Html.DisplayFor(model => model.ValidFrom)</td>
                </tr>
                <tr class="thead-dark">
                    <th>Kehtiv kuni:</th>
                    <td>@Html.DisplayFor(model => model.ValidThru)</td>
                </tr>
                <tr class="thead-dark">
                    <th>Staatus:</th>
                    <td>@Html.DisplayFor(model => model.State)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi nimekirja", "Index")
</p>
