﻿@model IEnumerable<subtoole.Models.Application>

@{
    ViewBag.Title = "Kandidaatide nimekiri.";
}
@if (User.IsInRole("Administraator"))
{
    <h2>@ViewBag.Title</h2>
}
else if (User.IsInRole("Frantsiis"))
{
    <h2>@ViewBag.Title</h2>
}
else
{
    <h2>Sinu kandideerimised.</h2>
}


@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Administraator"))
    {
        <p>
            @Html.RouteLink("Lisa uus", new { action = "Create", controller = "People" })
        </p>
    }
    else if (User.IsInRole("Frantsiis"))
    {
        <p>

        </p>
    }
    else
    {
        @Html.RouteLink("Lisa uus", new { action = "Create", controller = "People" })
    }
}
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Person.FirstName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Person.LastName)
            </th>
            <th scope="col">
                Parim enne
            </th>
            <th scope="col">
                Graafik
            </th>
            @*<th scope="col">
                    Staatus
                </th>*@
            <th scope="col">
                Töökoormus
            </th>
            <th scope="col">
                Resto
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr style="background-color: @(item.State==0?"#ffffff":"#99ff99")">
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidThru)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrefTime)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Load)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Andmed", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
