﻿@model subtoole.Models.Application

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Täname kandideerimast!";
}

<center><h2>@ViewBag.Title</h2></center>
<body>
    <center><h6>Sinu andmed on edukalt salvestatud ja saadetud valitud resto juhatajale. Juhataja võtab esimesel võimalusel Sinuga ühendust.
     Kui soovid jäetud infot muuta või kustudada, saad seda teha vajutades all olevale nupule. Tehes endale kasutaja juba sisestatud emaili aadressiga.</h6></center>
    
    <div>
        @Html.ActionLink("Andmete muutmiseks loo endale konto siin", "Register","Account", new { id = App.Id }, htmlAttributes: new { @class = "btn btn-primary btn-block" })
    </div>
    <div>
        <br>
        @Html.RouteLink("Tagasi esilehele", new { action = "Index", controller = "Home"}, htmlAttributes: new { @class = "btn btn-primary btn-block" })
        
    </div>
</body>
