﻿:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Subway-Footlong", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family-subway: Subway-Footlong, Subway-SixInch;
}

.body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family:'Subway Footlong''Subway Six-Inch' !important
}
@font-face {
    font-family: 'Subway-Footlong';
    src: url('../fonts/Subway-Footlong.otf') format('opentype');
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.slidecontainer {
    display: inline-flex;
    padding: 0px 15px;
    vertical-align: middle;
    height: 34px;
    width: auto;
    
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 280px; /* Full-width */
    height: 34px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

    /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 25px; /* Set a specific slider handle width */
        height: 34px; /* Slider handle height */
        border-radius: 5px;
        background: #00572D; /* Green background */
        cursor: default; /* Cursor on hover */
    }

    /*Atsi häkkimine*/

    .slider::-moz-range-thumb {
        width: 25px; /* Set a specific slider handle width */
        height: 25px; /* Slider handle height */
        border-radius: 5px;
        background: #00572D; /* Green background */
        cursor: default; /* Cursor on hover */
    }

.transparentgrid {
    background-color: #00572D;
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
}
.radiocontainer1 {
    display: inline-flex;
    padding: 6px 15px;
    padding-left: 20px;
    height: 34px;
    width: auto;
    float: left;
    margin-left: 20px;
}

/*Proovin veidi multi-step formi teha siin*/
