﻿@model IEnumerable<subtoole.Models.File>

@{
    ViewBag.Title = "Failid.";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Lisa uus", "Create")
</p>
<table class="table table-bordered">
    <thead class="table-dark">

        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Filename)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Person.FirstName)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Filename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
