﻿@{
    ViewBag.Title = "Subtööle - kandideeri Subway-sse tööle!";
}
<body>
    <center><h1>@ViewBag.Title</h1></center>
    <br />
    <center>
        <div class="btn-group" style="width:1000px">
            <a href="~/People/Create" class="btn btn-primary">Kandideeri tööle</a><a href="~/Account/Login" class="btn btn-primary">Logi sisse ja muuda/ kustuta andmeid</a>
        </div>
    </center>
    <br />
    <div class="kuulutus">
        <center><img src="~/Content/Images/kuulutus.jpg" height="848" class="img-responsive rounded " width="600"></center>
    </div>
    <center>
        <div class="btn-group" style="width:1000px">
            <a href="~/People/Create" class="btn btn-primary">Kandideeri tööle</a><a href="~/Account/Login" class="btn btn-primary">Logi sisse ja muuda/ kustuta andmeid</a>
        </div>
    </center>
</body>