﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="font-family:'Subway-Footlong'">
@if  (Request.IsAuthenticated)
{ 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href='@Url.Action("Index", "Home")'><img width="60" src='@Url.Content("~/Content/Images/logo.png")' /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                @if (User.IsInRole("Administraator"))
                {
                    <li>@Html.ActionLink("Kandidaadid", "Index", "Applications", null, new { @class = "btn btn-primary"})</li>
                    <li>@Html.ActionLink("Maasikad", "Index", "People", null, new { @class = "btn btn-primary"})</li>
                    <li>@Html.ActionLink("Restod", "Index", "Companies", null, new { @class = "btn btn-primary"})</li>
                    <li>@Html.ActionLink("Kasutajad", "Index", "Users", null, new { @class = "btn btn-primary"})</li>
                    <li>@Html.ActionLink("Rollid", "Index", "Roles", null, new { @class = "btn btn-primary"})</li>
                }
                else if (User.IsInRole("Frantsiis"))
                {
                    <li>@Html.ActionLink("Kandidaadid", "Index", "Applications", null, new { @class = "btn btn-primary" })</li>
                }
                else
                {
                    <li>@Html.ActionLink("Sinu kandideerimised", "Index", "Applications", null, new { @class = "btn btn-primary" })</li>
                    @*<li>@Html.ActionLink("Kustuta kasutajakonto", "Delete", "Users", null, new { id = User, @class = "btn btn-danger" })</li>*@
                }

                @*@if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Frantsiis"))
                    {
                        <li>@Html.ActionLink("Kandidaadid", "Index", "Applications", null, new { @class = "btn btn-primary" })</li>

                        if (User.IsInRole("Administraator"))
                        {
                            <li>@Html.ActionLink("Maasikad", "Index", "People", null, new { @class = "btn btn-primary focus" })</li>
                            <li>@Html.ActionLink("Restod", "Index", "Companies", null, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("Kasutajad", "Index", "Users", null, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("Rollid", "Index", "Roles", null, new { @class = "btn btn-primary" })</li>
                        }


                    }
                    <li>@Html.ActionLink("Sinu kandideerimised", "Index", "Applications", null, new { @class = "btn btn-primary" })</li>
                    <li>@Html.ActionLink("Kustuta kasutajakonto", "Delete", "Users", null, new { id = User, @class = "btn btn-danger" })</li>
                }*@
            </ul>
                @Html.Partial("_LoginPartial")
        </div>
    </nav>
    }
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <center><p>&copy; @DateTime.Now.Year @Html.ActionLink("Subtööle", "Register", "Account")</p></center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: 'dd.mm.yy'
            });
        });
    </script>

    <script>
        /* Estonian initialisation for the jQuery UI date picker plugin. */
        /* Written by Mart Sõmermaa (mrts.pydev at gmail com). */
        (function (factory) {
            if (typeof define === "function" && define.amd) {
                // AMD. Register as an anonymous module.
                define(["../widgets/datepicker"], factory);
            } else {
                // Browser globals
                factory(jQuery.datepicker);
            }
        }(function (datepicker) {
            datepicker.regional.et = {
                closeText: "Sulge",
                prevText: "Eelnev",
                nextText: "Järgnev",
                currentText: "Täna",
                monthNames: ["Jaanuar", "Veebruar", "Märts", "Aprill", "Mai", "Juuni",
                    "Juuli", "August", "September", "Oktoober", "November", "Detsember"],
                monthNamesShort: ["Jaan", "Veebr", "Märts", "Apr", "Mai", "Juuni",
                    "Juuli", "Aug", "Sept", "Okt", "Nov", "Dets"],
                dayNames: [
                    "Pühapäev",
                    "Esmaspäev",
                    "Teisipäev",
                    "Kolmapäev",
                    "Neljapäev",
                    "Reede",
                    "Laupäev"
                ],
                dayNamesShort: ["Pühap", "Esmasp", "Teisip", "Kolmap", "Neljap", "Reede", "Laup"],
                dayNamesMin: ["P", "E", "T", "K", "N", "R", "L"],
                weekHeader: "näd",
                dateFormat: "dd.mm.yy",
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ""
            };
            datepicker.setDefaults(datepicker.regional.et);
            return datepicker.regional.et;
        }));
    </script>
</body>
</html>
