﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav">
            <li class="nav-item">
                @{
        subtoole.Models.ApplicationDbContext db = new subtoole.Models.ApplicationDbContext();
        string userName = User.Identity.Name;
        string displayName = db.Users.Where(x => x.Email == userName).SingleOrDefault()?.DisplayName ?? "tundmatu";
                }
                @Html.ActionLink("Tere " + displayName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="nav-link" })
            </li>
            <li class="nav-item"><a class="nav-link btn btn-danger" href="javascript:document.getElementById('logoutForm').submit()">Logi välja</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li class="nav-item">@Html.ActionLink("Registreeri", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Logi sisse", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}