﻿@model subtoole.Models.Company

@{
    ViewBag.Title = "Resto kustutamine.";
}

<h2>@ViewBag.Title</h2>

<h3></h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta resto" class="btn btn-primary" /> |
            @Html.ActionLink("Tagasi nimekirja", "Index")
        </div>
    }
</div>
