﻿@model subtoole.Models.Company

@{
    ViewBag.Title = "Resto andmed.";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4> </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<div>
    <h4>Firma esindajad:</h4>
    <ul>
        @foreach (var partner in Model.People)
        {
            <li>@Html.ActionLink($"- {partner.FullName}", "RemovePartner", new { id = Model.Id, partner = partner.Id })</li>
        }
    </ul>
</div>
<h4>Vabad inimesed:</h4>
<ul>
    @foreach (subtoole.Models.Person partner in ViewBag.Rahvas)
    {
        <li>@Html.ActionLink($"+ {partner.FullName}", "AddPartner", new { id = Model.Id, partner = partner.Id })</li>
    }
</ul>

<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi nimekirja", "Index")
</p>
